.detail-page {

}


.detail-page__header {
	padding: 0.8rem 1.6rem;
	border-bottom: solid 1px rgba(0,0,0,0.16);
	box-shadow: 0 0 2px #eee;
}


.detail-page__header__category {
	display: flex;
	align-items: center;
}


.detail-page__header__category__add .icon {
	height: 3rem;
	width: 3rem;
}


.detail-page__header__category .month-picker {
	flex-basis: 20rem;
	
}

.detail-page__header__category .ant-statistic {
	flex-grow: 1;
}


.detail-page__header__category .ant-statistic {
	flex-grow: 1;
}


.detail-page__content {
}
