.detail-page {
	height:  calc(100% - 14.5rem);
	position: relative;
}


.detail-page__header {
	right: 2rem;
	top: -4.5rem;
	position: absolute;
}


.detail-page__header__category__add .icon {
	height: 3rem;
	width: 3rem;
}


.detail-page__content {
	height: 100%;
	overflow-y: auto;
}
