.side-menu {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}


.logo .icon {
	transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.logo > span {
	transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
	width 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-layout-sider-collapsed .logo {
	justify-content: center;
}


.ant-layout-sider-collapsed .logo .icon {
	margin-right: 0;
}

.ant-layout-sider-collapsed .logo span {
	width: 0;
	opacity: 0;
}

.ant-menu-item {
	display: flex !important;
	align-items: center;
}

.ant-menu-inline-collapsed > .ant-menu-item {
	padding: 0 calc(50% - 2rem / 2) !important;
}


